@import model.Hotel

@(hotels: List[Hotel])
<!DOCTYPE html>
<html lang="en">
<head>
    @* Here's where we render the page title `String`. *@
    <title>Agoda</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Hotels</h1>
        <input type="text" id="cityName" placeholder="City Name"></input>
        <button onclick="search()">Search</button>
        <button onclick="sort()">Sort</button>

        <table border="1">
        <tr><th>City</th><th>ID</th><th>Room Type</th><th>Price</th></tr>
        @for(hotel <- hotels) {
        <tr>
          <td class="cityName">@hotel.city</td><td>@hotel.id</td><td>@hotel.roomType</td><td>@hotel.price</td>
          </tr>
        }
        </table>
    </body>
   <script>
    function search() {
        var input = document.getElementById("cityName")
        var searchTerm = input.value
        window.location.href = "/search?city="+searchTerm+"&key=agoda&order=asc"
    }

    function sort(){
        var cityTd = document.getElementsByClassName("cityName")[0]
        var searchTerm = cityTd.textContent
        var url = window.location.href
        if(url.match("asc")){
          window.location.href = "/search?city="+searchTerm+"&key=agoda&order=desc"
        }else{
          window.location.href = "/search?city="+searchTerm+"&key=agoda&order=asc"
        }
    }
    </script>
</html>
